<%# We never use this view becuause we dont actually want to edit a URL %>
<h1>Editing doi_object</h1>

<%= render 'form' %>
<%# this would take me to the update controller of the URL objects %>

<%= link_to 'Show', @doi_object %> |
<%= link_to 'Back', doi_objects_path %>
