html body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  width: 50%;
  height: 100%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  border-radius: 12px;
}
.left-pad{
     margin-left: 8px;
     margin-bottom: 4px;
  }
.right-pad{
     margin-right: 8px;
     margin-bottom: 4px;
  }
.footer{
  min-height: 100px;
}
html{
  background: url(http://facebookjustice.files.wordpress.com/2011/07/student_collage.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.center{
  margin-left: auto;
  margin-right: auto;
  display: table;
}
.text-align{
  text-align:center;
}
#lookup{
  position: relative;
  margin-left: 50px;
  margin-top: 5px;
}
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
#alert{
  color: crimson;
}
#notice{
  color: limegreen;
}
nav ul li {
  display: inline-block;
  text-align: center;
  width: 24%;
  list-style-type: none;
  background: #DEB887;
  border-radius: 5px;
}
h1{
  background: #DEB887;
}
hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}
.title{
    margin: 1em 0 0.5em 0;
    color: #DEB887;
    font-weight: normal;
    font-family: 'Ultra', sans-serif;   
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    text-shadow: 0 2px white, 0 3px #777;
}
