<%# Rails flash messages styled for Zurb Foundation %>
<div data-alert id="zoom-out-message" class="relative center alert-box round alert text-center hidden"> Please zoom out to properly view website </div>
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div data-alert class="relative center alert-box round <%= name.to_s == 'notice' ? 'success' : 'alert' %>">
      <%= content_tag :div, msg %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>
<% end %>
