<%# navigation styled for Zurb Foundation 5 %>
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name"><%= link_to 'Home', root_path %></li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>
  <% if user_signed_in? %>
   <a href="/users/edit" id="nav-button" class="button split secondary float-right">
	<%= render partial: "devise/images/image", locals: {resource: current_user, size: "30x30", style: "margin-top: -2px;"} %> 
	<span data-dropdown="drop">
	<% else %>
   	<h1><a href="/users/sign_in" id="nav-button" class="button secondary float-right"> Sign Up/Sign In
	<% end %>
   </span></a><br>
		<ul id="drop" class="f-dropdown" data-dropdown-content>
		<% if user_signed_in? %>
			<li><a data-method="delete" href="/users/sign_out" rel="nofollow">Sign out</a></li>
		<% end %>
		</ul>
  <div class="top-bar-section">
    <ul>
      <%= render 'layouts/navigation_links' %>
    </ul>
  </div>
</nav>
