<%# navigation styled for Zurb Foundation 5 %>
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name"><%= link_to 'Home', root_path %></li>
  </ul>
  <% if user_signed_in? %>
    <!-- <a href="/users/edit" id="nav-button" class="button split secondary float-right"> -->
    <a href="#" data-dropdown="drop1" id="nav-button" class="button dropdown secondary float-right">
      <%= render partial: "devise/images/image", locals: {resource: current_user, size: "30x30", style: "margin-top: -2px;"} %>
    </a>
     <ul id="drop1" class="f-dropdown">
      <li><a href="/users/edit">Edit Account</a></li>
      <li><a data-method="delete" href="/users/sign_out" rel="nofollow">Sign out</a></li>
    </ul>
  <% else %>
    <a href="/users/sign_in" id="nav-button" class="button secondary float-right"><h6>Sign Up/Sign In</h6></a>
  <% end %>
  <div class="top-bar-section">
    <ul>
      <%= render 'layouts/navigation_links' %>
    </ul>
  </div>
</nav>
