$red: #cf2a0e;
$blue: #0079a1;
$gray: #e5e5e5;
$font: fantasy;
$oil: #333333;
* {
  margin: 0;
}
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
.hidden{
  display: none;
}
html, body {
  height: 100%;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #008cba;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 900px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
.float-right{
  float: right;
}
.float-left{
  float: left;
}
.hidden{
  display: none;
}
.tab-bar, .tab-bar-section{
  height: 70px;
}
#nav-button{
  height: 50px;
  margin-right: 50px;
  margin-top: -9px;
  background-color: #FCFCFC;
  &:hover{
  background-color: #DFDFDF;
  }
}
#profile-pic{
  margin-top: -2px;
}
#title{
  width: 300px;
}
.inline-block{
  display: inline-block;
}
.block{
  display:block;
}
.relative{
  position: relative;
}
#img-inside {
    height:15px;
    position:absolute;
    right:0;
    top:5px;
}
#title-search {
    width:300px;
    position:relative;
}
.small-text{
  font-size: x-small;
}
.overflow-scroll{
   overflow: scroll;
}
div, p, h1, h2, h3, h4, h5, h6{
  word-wrap: break-word;
}
.skinny{
  height: 10px;
}
.tall{
  height: 100%;
}
.absolute{
  position: absolute;
}
.bottom{
  bottom: 0;
}
.left{
  left: 0;
}
.right{
  right:0;
}
.padding-right{
  padding: 3px 3px 3px 3px;
  margin-right: 15px;
}
.padding-left{
  padding: 3px 3px 3px 3px;
  margin-left: 15px;
}
.padding-top{
  padding: 3px 3px 3px 3px;
  margin-top: 15px;
}
.padding-bottom{
  padding: 3px 3px 3px 3px;
  margin-bottom: 15px;
}
.top{
  top: 0;
}
.replies{
  margin-top: 2%;
}
.replies-form{
  margin-top: 18%;
}
hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}
.font-increase{
  font-size: 14px;
}
.circle{
  width:40px;
  height:40px;
  border-radius:40px;
  font-size:16px;
  color:#fff;
  line-height:40px;
  text-align:center;
  background:#000;
}
.fa-rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.fa-rotate-270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}
.shrink{
  width: 40px;
}
.long{
  height: 130px;
}
.invisible{
  visibility: hidden;
}
footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    background-color: white;
}
#filter-image{
  margin-top: 6px;
}
.middle-nav{
  z-index: 1; //so the 'filter' bar can show over the body instead of behind
  margin-left: 350px;
}
.shift-nav-up{
  position: absolute;
  top: -20px;
}
.registration{
  width: 20%;
  height: 40%;
  position: absolute;
  right: 10%;
  top: 15%;
}
input.button{
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
}
.new-session, .form-for{
  width: 20%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  display: table;
}
 #edit_user{
   margin-top: 0px;
 }
.form-for{
   width: 80%;
}
.underline{
  text-decoration: underline;
}
.full-width{
  width: 100%;
}
.full-height{
  height: 100%;
}
.button.alert{
  background-color: $red;
   &:hover {
    background-color: $oil;
    color: $red;
    }
}
.fi-dollar, .fi-clipboard-pencil, .fi-comment-quotes, .fi-dollar-bill{
    font-size: 100px;
    color: $red;
}
.landing-icons{
  position: absolute;
  width: 60%;
  top: 10%;
  left: 10%;
}
.intro{
  color: oil;
  top: 15px;
  width: 500px;
  h1{
  font-family: $font;  
  }
}
#pitch{
  font-family: $font;
  font-size: 60px;
}
.content-border{
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    background-color: $gray;
    border-color: #d8d8d8;
    box-shadow: 10px 10px 5px #888888;

}
.panel{
  border-radius: 5px;
  border-width: 3px;
  background-color: $gray;
  box-shadow: 10px 10px 5px #888888;
}
.panel-small{
  order-style: solid;
  border-width: 2px;
  border-color: $oil;
  margin-bottom: 1.25rem;
  background: $gray;
  color: $gray;
  box-shadow: 5px 5px 5px #888888;
  padding: 3px;
  &.curved {
    border-radius: 10px;
  }
  &.no-shaddow {
    box-shadow: 2px 2px 2px #888888;
  }
}
.center{
  margin-left: auto;
  margin-right: auto;
  display: table;
}
#question_guy{
  position: absolute;
}
.login{
   &:hover {
    background-color: $oil;
    color: $red;
    }
}
.style-text{
  text-align: center;
    text-transform: uppercase;
    text-shadow: $oil 3px 3px 5px;
}
.red{
  color: $red;
}
.oil{
  color: $oil;
}
.index{
  margin-bottom: 0;
  width: 100%;
}
.columns-nopad{
  width: 100%;
  float: left;
}
.details{
  overflow: hidden;
  width: 80px;
}
.low-padding{
  padding: 10px;
  border-color: $oil;
}
.filters{
  margin-top: 6px;
}
.highlight{
  background-color: #FFFF00;
}
.right-corner{
  width: 0; 
  height: 0; 
  //border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
    transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  position: absolute;
  right: 5px;
  top: 5px;
  border-left: 60px solid $gray;
   box-shadow: 2px 2px 2px #888888;
    p{
      text-align: center;
      left: -61px;
      position: relative;
      width: 93px;
      height: 93px;
      margin: 0px;
      font-size: 35px;
      font-family: iniitial;
          transform:rotate(315deg);
    -ms-transform:rotate(315deg);
    -moz-transform:rotate(315deg);
    -webkit-transform:rotate(315deg);
    -o-transform:rotate(315deg);
    }
}
.inset {
  box-shadow: inset 0 0 10px $gray;
}
#index-container{
  width: 75%;
}