body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
.hidden{
  display: none;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 900px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
.float-right{
  float: right;
}
.float-left{
  float: left;
}
.hidden{
  display: none;
}
.tab-bar, .tab-bar-section{
  height: 70px;
}
#nav-button{
  height: 50px;
  margin-right: 120px;
  margin-top: -10px;
}
#profile-pic{
  margin-top: -2px;
}
#title{
  width: 300px;
}
.inline-block{
  display: inline-block;
}
.relative{
  position: relative;
}
#img-inside {
    height:15px;
    position:absolute;
    right:0;
    top:5px;
}
#title-search {
    width:300px;
    position:relative;
}
.center{
  margin-left: auto;
  margin-right: auto;
  display: table;
}
.small-text{
  font-size: x-small;
}
.overflow-scroll{
   overflow: scroll;
}
div, p, h1, h2, h3, h4, h5, h6{
  word-wrap: break-word;
}
.skinny{
  height: 10px;
}
.tall{
  height: 100%;
}
.absolute{
  position: absolute;
}
.bottom{
  bottom: 0;
}
.left{
  left: 0;
}
.right{
  right:0;
}
.comment-right{
  right: 0;
  margin-right: 15px;
}
.top{
  top: 0;
}
.replies{
  margin-top: 2%;
}
.replies-form{
  margin-top: 18%;
}
#new-post{
  border-width: 3px;
  margin: 1rem 0 1rem;
  border: solid;
}
.font-increase{
  font-size: 14px;
}
.circle{
  width:40px;
  height:40px;
  border-radius:40px;
  font-size:10px;
  color:#fff;
  line-height:40px;
  text-align:center;
  background:#000;
}
.fa-rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.fa-rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.shrink{
  width: 40px;
}
.center-image{
  margin-left: auto;
  margin-right: auto;
  width: 3em;
}
.long{
  height: 130px;
}