    <span><%= link_to ("No"), new_user_session_path, data: { confirm: 'You must sign in to rate answers...would you like to sign in?' } %></span>
    <span><%= link_to ("Yes"), new_user_session_path, data: { confirm: 'You must sign in to rate answers...would you like to sign in?' } %></span>
  <%= resource.rating_score %>
