<h1 class="text-align">New image</h1>      
<p id="alert" class="text-align"><%= alert %></p>

<div class="center"><%= render 'form' %></div>

<div class="center"><%= link_to 'Back', images_path %></div>
