   <%= form_tag(title_search_path, method: "get") do  %>
      <%= text_field_tag :title, nil, placeholder: "Search by title"  %>
      <%= submit_tag("Lookup") %>
      <div class="hidden" id="filters-on"> <%= render "filters" %></div>
  <% end %>